.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

@media ( max-width :400px) {
	.centerif-sm {
		text-align: center;
	}
}

@media ( max-width :767px) {
	.navigation-clean.navbar-inverse .navbar-collapse, .navigation-clean.navbar-inverse .navbar-form
		{
		border-top-color: #333;
		background-color: #374f50;
	}
	.line_item :hover {
		background-color: #00909b !important;
		-webkit-box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.7);
		-moz-box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.7);
		box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.7);
	}
	.noPadNoMorg-sm {
		padding: 0px;
		margin: 0px;
	}
}

.navigation-clean.navbar-inverse .navbar-nav>li>.dropdown-menu {
	background-color: #2a3d3e !important;
}

.sub_line_item :hover {
	background-color: #00909b !important;
	-webkit-box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.7);
	-moz-box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.7);
	box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.7);
}

.args-display-screen {
	padding-bottom: 10px;
	overflow: hidden;
	margin: 5px;
	height: 374px;
	overflow-y: scroll;
	background: -webkit-linear-gradient(top, rgba(127, 127, 127, 0.35) 0%,
		rgba(127, 127, 127, 0.35) 98.5%, rgba(0, 102, 96, 0.5) 100%);
	background: linear-gradient(to bottom, rgba(127, 127, 127, 0.35) 0%,
		rgba(127, 127, 127, 0.35) 98.5%, rgba(0, 102, 96, 0.5) 100%);
	-webkit-box-shadow: inset 4px 4px 40px -10px rgba(0, 0, 0, 0.7), 3px 3px
		5px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 4px 4px 40px -10px rgba(0, 0, 0, 0.7), 3px 3px
		5px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 4px 4px 40px -10px rgba(0, 0, 0, 0.7), 3px 3px 5px 1px
		rgba(0, 0, 0, 0.1);
}

.comments-display-screen {
	padding-bottom: 10px;
	overflow: hidden;
	margin: 5px;
	min-height: 275px;
	background: -webkit-linear-gradient(top, rgba(127, 127, 127, 0.35) 0%,
		rgba(127, 127, 127, 0.35) 98.2%, rgba(0, 102, 96, 0.5) 100%);
	background: linear-gradient(to bottom, rgba(127, 127, 127, 0.35) 0%,
		rgba(127, 127, 127, 0.35) 98.2%, rgba(0, 102, 96, 0.5) 100%);
	-webkit-box-shadow: inset 4px 4px 40px -10px rgba(0, 0, 0, 0.7), 3px 3px
		5px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 4px 4px 40px -10px rgba(0, 0, 0, 0.7), 3px 3px
		5px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 4px 4px 40px -10px rgba(0, 0, 0, 0.7), 3px 3px 5px 1px
		rgba(0, 0, 0, 0.1);
}

div.panel.panel-default {
	border: 0;
}

div.panel-body {
	background: #1e2021;
}

div.panel-heading {
	background: #1e2021;
}

.panel-default>.panel-heading {
	/*color:#333;*/
	background-color: #1e2021;
	border: 0;
}

.panel-title {
	color: #dfe8ee;
	font-weight: normal;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top: 1px solid #ddd;
}

.arg-holder {
	margin-top: 5px;
	margin-bottom: 3px;
	position: relative;
}

.pad-arg-text {
	padding: 5px 23px;
}

.arg-left, .arg-right, .pink, .tomato, .pale-golden-rod, .pale-turquoise,
	.thistle {
	color: #000;
	max-width: 90%;
	position: relative;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

.arg-right {
	border-radius: 10px 0px 0px 20px;
	padding: 0px 10px 0px 2px;
	left: 10px;
	text-align: right;
	float: right;
}

.arg-left {
	border-radius: 0px 10px 20px 0px;
	padding: 0px 2px 0px 10px;
	right: 10px;
	text-align: left;
	float: left;
}

.ivory {
	background: #FFFFF0;
}

.blue {
	background: #89d1d2;
}

.pink {
	background: #ffa4d7;
}

.tomato {
	background: #FF6347;
}

.pale-golden-rod {
	background: #EEE8AA;
}

.pale-turquoise {
	background: #AFEEEE;
}

.thistle {
	background: #D8BFD8;
}

.lemon-chiffon {
	background: #FFFACD;
}

.light-green {
	background: #A9DFBF;
}

.sea-green {
	background: #A3E4D7;
}

.drab {
	background: #C1D9A2;
}

.arg-index-number-left, .arg-index-number-right {
	border-radius: 10px;
	background-color: white;
	padding: 1px 4px 1px 4px;
	margin: 1px;
	font-size: .7em;
	position: relative;
	top: 1.5px;
	-webkit-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.7);
	box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.arg-index-number-left {
	float: right;
}

.arg-index-number-right {
	float: left;
}

.arg-text-form, .com-text-form {
	background-color: rgba(127, 127, 127, 0.25);
	overflow: hidden;
	overflow-y: scroll;
	width: 100%;
	height: 100px;
	border: 1px solid #37867f;
}

.form-box {
	margin: 5px;
}

.href-link {
	background-color: rgba(127, 127, 127, 0.25);
	width: 100%;
	border: 1px solid #37867f;
}

#args-submit {
	float: right;
	margin: 0px 0px;
	padding: 1px 10px;
	background-color: rgba(127, 127, 127, 0.25);
	border: 1px solid #37867f;
}

.highlight {
	-webkit-box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.7);
	-moz-box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.7);
	box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.7);
}

.vote-bar-right {
	margin-left: -1px;
	border-left: 1px solid #fff;
	height: 25px;
	background-color: blue;
	float: right;
}

.vote-bar-left {
	margin-right: -1px;
	border-right: 1px solid #fff;
	height: 25px;
	background-color: red;
	float: left;
}

.bar-left {
	margin-right: -1px;
	border-right: 1px solid #fff;
	height: 25px;
	float: left;
}

.bar-right {
	margin-left: -1px;
	border-left: 1px solid #fff;
	height: 25px;
	float: right;
}

/*CSS for slide button theme switch*/
.switch {
	margin-top: .6em;
	margin-left: .6em;
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.setting-switch input, .switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #37434d;
}

input:focus+.slider {
	box-shadow: 0 0 1px #37434d;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.dark-theme {
	color: #dfe8ee !important;
	background-color: #1e2021 !important;
}

.dark-theme.navigation-clean.navbar-inverse a:focus, .dark-theme.navigation-clean.navbar-inverse a:hover
	{
	color: #fff !important;
	-webkit-text-shadow: 0px 0px 3px rgba(103, 219, 224, 1);
	-moz-text-shadow: 0px 0px 3px rgba(103, 219, 224, 1);
	text-shadow: 0px 0px 3px rgba(103, 219, 224, 1);
}

.light-theme {
	color: #1e2021;
	background-color: #ffffff !important;
}

.light-theme img {
	filter: invert(100%);
}

@media ( max-width :767px) {
	.navigation-clean.navbar-inverse .navbar-nav>li>a.light-theme {
		color: #dfe8ee;
	}
}

@media ( min-width : 768px) {
	.navigation-clean.navbar-inverse .navbar-nav>li>a.light-theme {
		color: #1e2021;
	}
}

.light-theme.navigation-clean.navbar-inverse a:focus, .light-theme.navigation-clean.navbar-inverse a:hover
	{
	color: #374f50 !important;
	-webkit-text-shadow: 0px 0px 3px rgba(103, 219, 224, 1);
	-moz-text-shadow: 0px 0px 3px rgba(103, 219, 224, 1);
	text-shadow: 0px 0px 3px rgba(103, 219, 224, 1);
}

.category-header {
	padding: 0 !important;
	margin-bottom: 10px !important;
}

.category-header:before, .category-header:after {
	margin: 20px 5px 0px 0px;
}

.cat-wrapper {
	overflow: hidden;
}

.category-right {
	overflow: hidden;
	margin: 2px 16px 0px 5px;
	padding: 0;
}

.category-right>h4 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.category-left {
	float: left;
	width: 80px;
	margin: 0px 8px 9px 8px;
}

.category-right>h5 {
	margin: 5px 0px;
	float: left;
	position: relative;
}

.desc-wrapper {
	overflow: hidden;
}

.desc-right {
	overflow: hidden;
	margin: 6px 0px 0px 0px;
	padding: 0;
}

.desc-right>div {
	display: inline-block;
	margin: 0px 7px 0px 1px;
}

.desc-right>div>ol {
	-webkit-padding-start: 17px;
}

.desc-left {
	float: left;
	width: 105px;
	margin: 0px 0px 0px 0px;
}

.desc-left>h4 {
	margin: 5px 0px 2px 0px;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed
	{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.about-vidinfo {
	margin: 20px 0px 0px 0px;
}

column {
	padding: 10px;
}

.noPadNoMorg {
	padding: 0px;
	margin: 0px;
}

.quibPaneImage {
	height: 80px;
	float: left;
	border-radius: 5px;
	border: 1px solid rgb(169, 169, 169);
}

.vPaneContentWrapper {
	padding: 0px 15px;
	margin-bottom: -10px;
	border-bottom: 2px solid #00909b;
}

#filterHeader {
	margin: 10px;
}

#debateHeader {
	border-bottom: 2px solid #D8D8D8;
	margin: 0px 0px 10px 0px;
}

.performanceWrapper {
	width: 90%;
	margin: 0px 0px 10px 0px
}

#commentaryHeader {
	font-size: 1em
}

#URLInputWrapper {
	overflow: hidden;
	padding-right: .35em;
}

.voteBarWrapper {
	overflow: hidden;
	margin: 0px 5px;
}

#yellowButtonWrapper {
	float: right;
}

#blueButtonWrapper {
	float: left;
}

.voteButton {
	width: 50px;
	height: 25px
}

.overflowHidden {
	overflow: hidden;
}

.userNameWrapper {
	font-size: .7em;
}

.hrefInputWrapper {
	overflow: hidden;
	padding-right: .35em;
}

/*Ensure category text and checkboxes are on same line and in same group*/
category {
	display: inline-block;
	margin: 5px 10px 5px 0px;
}

.inline-field input, .inline-field label {
	display: inline-block;
	margin-bottom: 0; /* I added this after I posted my reply */
	vertical-align: top; /* Fixes any weird issues in Firefox and IE */
}

#new-quib input[type=text] {
	width: 100%;
	margin-bottom: 10px;
	border: 1px solid #888;
}

#new-quib textarea {
	width: 100%;
	padding: 0px 1px;
	margin-bottom: 5px;
	overflow: hidden;
	height: 75px;
	overflow-y: scroll;
	border: 1px solid #888;
}

.quibButton {
	background: #374f50;
	border: 1px solid #028791;
	border-radius: 4px;
	padding: 11px 25px;
	box-shadow: none;
	text-shadow: none;
	outline: none;
}

.quibButton:hover, .quibButton:active {
	background: #028791 !important;
	background-image: initial !important;
	background-position-x: initial !important;
	background-position-y: initial !important;
	background-size: initial !important;
	background-repeat-x: initial !important;
	background-repeat-y: initial !important;
	background-attachment: initial !important;
	background-origin: initial !important;
	background-clip: initial !important;
	background-color: rgb(2, 135, 145) !important;
	outline: none !important;
}

.settings-icon {
	display: inline;
	height: 30px;
}

.settings-label {
	display: inline;
	font-size: 16px;
	margin: 0px 5px;
}

.settings-selector {
	background-color: #fff;
	color: #000;
	width: 50px;
	height: 30px;
	float: right;
}

.settings-box {
	background-color: rgba(127, 127, 127, 0.25);
	padding: 10px;
	margin: 2px 0px;
	align: middle;
}

.settings-slider-box {
	margin: 12px 10px 0px 10px;
}

#settings-sliderval {
	padding: 4px;
	font-size: 16px;
	color: #028791;
	width: 50px !important;
	height: 30px;
	border: 1px solid #888 !important;
	border-radius: 4px;
	background-color: #fff;
	float: right !important;
}

/* theme slider */
#ng-slider .md-thumb:after, #ng-slider .md-track-fill {
	background-color: teal !important;
	border-color: teal !important;
}

/* theme slider */
#ng-slider .md-focus-thumb, #ng-slider .md-focus-ring {
	background-color: teal;
}

/* re-align slider 'dot' to center */
md-slider .md-thumb-container {
	top: 0px;
}

/* set vertical height of slider box */
md-slider {
	height: 32px;
}

#time-selector {
	width: 100px;
}

#percent-selector {
	width: 65px;
}

.settings-box .switch {
	margin: 0;
	float: right;
	position: relative;
	display: inline-block;
	width: 54px;
	height: 28px;
}

.settings-box .slider:before {
	height: 20px;
	width: 20px;
}

.invalid-box {
	vertical-align: top;
}

.invalid {
	margin: 0px;
	font-size: 12px;
	color: #e09182
}

.inline-block {
	display: inline-block;
}

.settings-button-box {
	margin: 15px 0px 0px 0px;
}

.center {
	text-align: center;
}

.padComment {
	margin: 0px 0px 0px 20px;
}

.nopadComment {
	margin: 0px 0px 0px 5px;
}

.light-theme.comment-text {
	color: #374f50 !important;
	background: none !important;
}

.dark-theme.comment-text {
	color: #7ebbbd !important;
	background: none !important;
}